.u-section-1 .u-sheet-1 {
  min-height: 2717px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 24px auto 0 0;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 429px;
  height: 643px;
  margin: 104px auto 0 -1px;
}

.u-section-1 .u-image-2 {
  width: 518px;
  height: 777px;
  margin: -643px auto 0 622px;
}

.u-section-1 .u-image-3 {
  width: 429px;
  height: 643px;
  margin: 154px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 519px;
  height: 797px;
  margin: -797px auto 0 -1px;
}

.u-section-1 .u-image-5 {
  width: 1142px;
  height: 761px;
  margin: 84px -1px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 30px 0 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2582px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 539px;
  }

  .u-section-1 .u-image-1 {
    height: 644px;
    margin-top: -411px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -644px;
    margin-left: 423px;
  }

  .u-section-1 .u-image-4 {
    height: 798px;
  }

  .u-section-1 .u-image-5 {
    width: 940px;
    height: 627px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2435px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2315px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 23px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 130px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 510px;
    margin-top: -2px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 510px;
    margin-top: -510px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 510px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 523px;
    margin-top: -664px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 227px;
    margin-top: 217px;
    margin-left: 0;
  }
}