.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 203px 23px 0 533px;
}

.u-section-1 .u-image-1 {
  width: 507px;
  height: 338px;
  margin: -64px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -266px 23px 0 533px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: -77px 213px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 136px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 136px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -396px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1079px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  margin: 138px 556px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 138px 556px 0 0;
}

.u-section-2 .u-image-1 {
  width: 484px;
  height: 726px;
  margin: -444px 0 0 auto;
}

.u-section-2 .u-btn-1 {
  font-size: 3rem;
  background-image: none;
  margin: -222px auto 60px 0;
  padding: 14px 18px 15px 17px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 356px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 136px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 510px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -6px;
  }
}