.u-section-1 .u-sheet-1 {
  min-height: 599px;
}

.u-section-1 .u-gallery-1 {
  height: 389px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-1 {
  margin: 16px 20px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-gallery-1 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-1 .u-gallery-1 {
    height: 980px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3151px;
  }

  .u-section-1 .u-gallery-1 {
    height: 2940px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2062px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1851px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 997px;
}

.u-section-2 .u-image-1 {
  width: 533px;
  height: 799px;
  margin: 67px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: -575px 0 0 580px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 2.25rem;
  margin: -171px 47px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 800px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -576px;
    margin-right: 22px;
    margin-left: 380px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 17px;
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 13px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 510px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -286px;
    margin-right: 8px;
  }
}